<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>420 Pay Center</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <!-- build:css(.) styles/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css(.tmp) styles/main.css-->
    <link rel="stylesheet" href="/styles/css/main.css">
    <link type="text/css" rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css">
    <link rel="stylesheet" href="/scripts/ext/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="/scripts/ext/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&amp;effect=fire|3d-float" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- endbuild-->
    <script data-main="/scripts/boot.js" src="/scripts/ext/require.js"></script>
    <base href="/">
  </head>
  <body ng-class="pageName">
    <!--if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    -->
    <div
      class="header"
      ng-class="{
        'font-effect-3d-float': (pageName.indexOf('kiosk') === -1)
      }"
    >
      <div role="navigation" class="navbar navbar-default">
        <div class="inner">
          <div class="navbar-header"><a href="/" class="navbar-brand"><img src="/images/420-pay-center--logo.png" alt="420 Pay Center"></a></div>
          <div class="collapse">
            <div class="menu"><a ng-click="toggleMenu()">=</a></div>
            <ul id="menu" ng-show="showMenu" ng-class="{ &quot;visible&quot;: !showMenu }" class="nav navbar-nav">
              <!--li.active a(ng-href='/page/about') About -->
              <!--li a(ng-click="scrollTo('how')") How it works -->
              <li><a ng-href="/page/kiosk">Kiosk</a></li>
              <li><a ng-href="/page/platform">Platform</a></li>
              <li><a ng-href="/page/contact">Contact</a></li><!--li a(ng-href='/services/chat') Chat -->
              <!--li a(ng-click="scrollTo('roi')") Sell Bitcoin span ($534.34 USD) -->
              <li><a ng-hide-auth ng-href='/page/login'>Login</a>
              <a ng-show-auth ng-href='/page/account'>Account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-view=""></div>
    </div>
    <div class="footer font-effect-3d-float">
      <div class="container">
        <div class="contact">
          <h3>Contact Info</h3>
          <dl>
            <dt>Street</dt>
            <dd>Planet Capital</dd>
            <dt>Telephone</dt>
            <dd>1 111 111 1111</dd>
          </dl>
        </div>
        <ul class="navigation">
          <li>
            <h2>Browse</h2>
            <ul>
              <li><a ng-href="/page/kiosk">Kiosk</a></li>
              <li><a ng-href="/page/platform">Platform</a></li>
              <li><a ng-href="/page/contact">Contact</a></li>
            </ul>
          </li>
          <li>
            <h2>Scope</h2>
            <ul>
              <li><a ng-href="/page/sitemap">Sitemap</a></li>
              <li><a ng-href="/page/privacy-policy">Privacy Policy</a></li>
              <li><a ng-href="/page/terms-of-service">Terms of Service</a></li>
            </ul>
          </li>
          <li>
            <h2>Learn</h2>
            <ul>
              <li><a ng-href="/page/login">Login</a></li>
              <li><a ng-href="/page/sitemap">Sitemap</a></li>
              <li><a ng-href="/page/glossary">Glossary</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p><span class="glyphicon glyphicon-heart"></span> <a href="http://420paycenter.com">420 Pay Center</a>. &copy; All Rights Reserved.</p>
      </div>
    </div>
    <script>
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
      }(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <!--if lt IE 9
    script(src='/scripts/ext/es5-shim.js')
    script(src='/scripts/ext/json3.js')
    -->
    <!-- build:js(.) scripts/vendor.js-->
    <!-- bower:js-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:js({.tmp,app}) scripts/scripts.js-->
    <!-- endbuild-->
    <!-- @exclude-->
    <script type="text/javascript" src="http://localhost:8080/livereload.js?snipver=1"></script>
    <!-- @endexclude-->
  </body>
</html>
