<div class="page--contact">
  <div class="home--masthead font-effect-3d-float">
    <div class="inner">
      <h1>The Green Revolution is here.</h1>
      <h2>We are building the tools to foster evergreen economic cycles. We look forward to partnering with you.</h2>
    </div>
  </div>

  <div id="contact--form" class="contact--form">

    <h1>Drop us a line</h1>

    <div class="field-row">
      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="user.name">
      </md-input-container>
    </div>

    <div class="field-row">
      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="user.email">
      </md-input-container>
    </div>

    <div class="field-row">
      <md-input-container>
        <label>State</label>
        <md-select ng-model="user.other">
          <md-option ng-value="opt" ng-repeat="opt in neighborhoods">{{ opt }}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="field-row">
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="user.description"></textarea>
      </md-input-container>
    </div>

    <div class="field-row">
      <md-input-container>
        <md-button>Submit Contact Request</md-button>
      </md-input-container>
    </div>
  </div>
</div>
