<!--
  Frame 1: Static banner.  Image to be provided.  Tagline in <H1>, 10-word description<h3>, “Contact Us” Button links to contact page.
    •	Should be the full page.
-->

<div class="home--masthead font-effect-3d-float">
  <div class="inner">
    <h1 title="Finance à la mode.">420 Pay Center</h1>
    <p>Stay up to date with our best products</p>
    <div class="cta--mini">
      <a href="/page/contact">
        Contact Us
      </a>
    </div>
  </div>
</div>

<!--
  Frame 2: Plain box with quote.  “420 pay center is _________”  Roughly 20-30 word description.  50% of page height.
-->
<div class="home--why">
  <h1 id="why" class="font-effect-3d-float">Vision</h1>
  <p>
  The 420 Pay Center system solves the systemic financial problems of successful dispensaries. Federal regulations state that proceeds from dispensary business cannot be stored in a bank. We offer financial solutions for businesses that improve on traditional banking systems and circumvent the contradictory legal status of the business 
  </p>
</div>

<!--
  Frame 3: Left side Kiosk Image.  Right Side – Feature list bullets – Including “two-way bill acceptor” “Card Acceptor” “Receipt Printer” “Large Touch Screen Display”
    •	“Learn more” button under the image of the Kiosk. Link to “The Kiosk” page.
-->

<div class="cta--columnar--default home--learn">
  <div class="primary">
    <figure>
      <img unveil src="/images/commander-logo.png" />
      <figcaption>
      <p>
        <a href="/learn-more">Learn More</a>
      </p>
      </figcaption>
    </figure>
  </div>
  <div class="secondary">
    <div class="inner">
      <h2 class="font-effect-3d-float">Feature List</h2>
      <ul>
        <li>Two-way Bill Acceptor</li>
        <li>Card Acceptor</li>
        <li>Receipt Printer</li>
        <li>Large Touch Screen Display</li>
      </ul>
      <p>
        <a href="/#kiosk">The Kiosk</a>
      </p>
      <!--h2>Purpose</h2-->
      <!--p>
      420 pay center is aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue.
      </p-->
      <!--form>
        <div class="field action">
          <button ng-click="scrollTo('roi')">
            Access Product 1
          </button>
        </div>
      </form-->
    </div>
  </div>
</div>

<!--
  Frame 4: 2 rows of 3 Circle-shaped images – V-aligned across the page. <h2> titles and <p> text below.
-->

<div class="cta--columnar--triple home--benefits font-effect-3d-float">
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Reduce Business Risk</h2>
      <!--
         -<p>
         -Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Streamline Cash Flow</h2>
      <!--
         -<p>
         -420 Pay Center brings a set of lightweight, bidding, strategies (quick max+1, peel, double peel, follow max+1).
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Go Digital</h2> 
      <!--
         -<p>
         -420 Pay Center uses Stripe to handle Payment Processing. We do not store your card data.
         -</p>
         -->
    </li>
  </ul>
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Improve Employee safety</h2>
      <!--
         -<p>
         -Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Universal POS interoperability</h2>
      <!--
         -<p>
         -420 Pay Center brings a set of lightweight, bidding, strategies (quick max+1, peel, double peel, follow max+1).
         -</p>
         -->
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Accept Digital Currency</h2> 
      <!--
         -<p>
         -420 Pay Center uses Stripe to handle Payment Processing. We do not store your card data.
         -</p>
         -->
    </li>
  </ul>
  <div class="cta--columnar--triple_tail">
    <p><a href="/page/platform">Learn more about the platform</a></p>
  </div>
</div>


<!--div class="home--tale">
  <h2>A tale of two tokers</h2>
  <h3>Here's why it makes sense to lend bitcoin as a private grower:</h3>
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="wide person-header">Joe</th>
        <th class="wide person-header">Jim</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="item-header">Investment strategy</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Term</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Rate of return</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
      <tr>
        <th class="item-header">Total earnings</th>
        <td class="wide">Cell 1</td>
        <td class="wide">Cell 2</td>
      </tr>
    </tbody>
  </table>
</div-->

<!--div class="cta--columnar--default home--max">
  <div class="primary">
    <p>Real-time Feeds Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p> 
  </div>
  <div class="secondary">
    <p><img class="" unveil style="width: 100%" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" /></p>
    <form>
      <div class="field action">
      </div>
    </form>
  </div>
</div-->

<!--div class="cta--columnar--quad home--how font-effect-3d-float">
  <header>
    <h1 id="how">How it works</h1>
  </header>
  <ul>
    <li>
      <div class="explanation--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Join Our Network</h2>
      <p>No personal computer necessary. No learning curve.</p>
    </li>
    <li>
      <div class="explanation--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Document Your Property</h2>
      <p>Digital signatures to securely sign your assets.</p>
    </li>
    <li>
      <div class="explanation--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Digital Asset Verification</h2>
      <p>Removing the disadvantages to the unbanked world.</p>
    </li>
    <li>
      <div class="explanation--symbol-4"><span class="fa fa-star"></span></div>
      <h2>Empower Financial Dreams</h2>
      <p>Bringing financial tools to shape your economic destiny.</p>
    </li>
  </ul>
</div-->

<div class="home--saying">
  <h1 id="success" class="font-effect-3d-float">Products</h1>
  <ul>
    <li>
      <figure>
        <div class="quote--container left">
          <img unveil src="/images/Planet-Kiosk--Full.png" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Business Owners</h2>
            <p>
            The ongoing legal contradictions of sales shouldn't impact your ability to manage your business with simple and efficient financial tools. Profits in cash can be converted into digital assists. Wages can be distributed with a simple single-point access system. You can collect and distribute payments through the simple interface in the 420 Kiosk. Not only are these solutions simple and legally sound, they dramatically reduce your tax-fraud risk at every level and allow you to focus on running a successful business. 
            </p>
            <div class="key-features">
              <!--
                 -<h3>Key Features:</h3>
                 -<ul>
                 -  <li>Federated Hardware Secured via the Blockchain's Distributed Hash Table Architecture and Trustless Concensus mechanism.</li>
                 -  <li>Transaction Record Endpoint and Verification system.</li>
                 -  <li>"Book of Knowledge" Blade - The best and most value-able open-source tools for learning and education.</li>
                 -  <li>Financial Tools for Digital Cash, Lending, borrowing, and Asset Recording, storage and management.</li>
                 -</ul>
                 -->
            </div>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="quote--container right">
          <img unveil src="/images/Planet-Kiosk--Kiosk.png" alt="" />
        </div>
        <figcaption>
          <blockquote>
            <h2>Employees</h2>
            <!--<h3>Real world property as digital value</h3>-->
            <p>
            Paying employees in cash can unnecessarily complicate budgets and frustrate employees who need records of consistent employment and might fear tax-related investigations. The 420 kiosk offers secure, cutting edge technology that facilitates digital payments for employees. Not only can employees be reimbursed through this technology they can easily use the same system to pay monthly expenses like utilities, rent, and mortgage payments. They can even purchase groceries and other necessities. Alternately, they can receive cash in a secure and recorded transaction. 
            </p>
            <div class="key-features">
              <!--
                 -<h3>Key Features:</h3>
                 -<ul>
                 -  <li>On-demand Live Video Feeds</li>
                 -  <li>Fault-Tolerant, Fraud-Resistant Transaction Mechanism</li>
                 -  <li>Voucher/Receipt Printer</li>
                 -  <li>Card Acceptor/reader</li>
                 -  <li>2-Way bill acceptor</li>
                 -</ul>
                 -->
            </div>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="quote--container left">
          <img unveil src="/images/Planet-Kiosk--Card.png" />
        </div>
        <figcaption>
          <blockquote>
            <h2>How it works</h2>
            <!--<h3>Systems integrated with security</h3>-->
            <p>Kiosks utilize the most current Blockchain technology and are made with trusted and established industry partners. The physical product and the technology behind it are changing how digital finance systems work in a way that is regulatory compliant, auditable, and secure. It allows you to streamline incoming and outgoing payments of all kinds in a way that eliminates the risk of theft, fraud, or discrepancies</p> 
            <p>This payment center can be hosted in your place of business as a convenient one stop access point for an entire suite of financial services.</p> 
          </blockquote>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>


<!--div class="cta--columnar--quad home--numbers font-effect-3d-float">
  <h1>The numbers that matter to you</h1>
  <ul>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
    <li>
      <h2 class="stats--symbol-1">$5,490,890</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </li>
  </ul>
</div-->

<!--div class="cta--columnar--default home--select">
  <div class="primary">
    <p>Smart Bidding cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p> 
  </div>
  <div class="secondary">
    <p><img unveil class="" style="width: 75%" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" /></p>
    <form>

      <!--
         -<div class="field">
         -  <select>
         -    <option value="">Click to Select Amount</option>
         -  </select>
         -</div>
         -->
      <div class="field action">
        <!--button ng-click="scrollTo('roi')">
          Loan Bitcoin
          <span class="fa fa-star"></span>
        </button-->
      </div>
    </form>
  </div>
</div-->

<div class="home--faq">
  <h1 id="faq">Frequently asked questions</h1>
  <ul>
    <li>
      <figure>
        <div class="question--container">
          What is security?
        </div>
        <figcaption>
          <blockquote>
            <p>Traditionally, Security has been spread across many service providers to combat a variety of attack vectors to centralized data systems.  Advancements in storage capacity, Cryptography, and Network Protocols now allow us to bring you a revolution in data security.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What are bidmarks?
        </div>
        <figcaption>
          <blockquote>
            <p>Trust is hard to build, trust yourself and your data first.  Our fully auditable architecture gives you the ability to have eyes and ears on the systems that govern your data.  Trusted 3rd parties such as banks, online merchants, and social media websites have troves of data that rightfully belongs to you.  Take back that control.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is smart lending?
        </div>
        <figcaption>
          <blockquote>
            <p>Consensus is simply the act of saying "I Agree".  This can be incredibly hard for some things like voting for a political candidate, and incredibly easy for some things - like agreeing that a financial transaction occurred properly.  420 Pay Center allows the flexibility of numerous concensus mechanisms with different parameters, confirmation times and transaction histories.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What is a blockchain?
        </div>
        <figcaption>
          <blockquote>
            <p>A blockchain is a cryptographically linked series of digital paper.  Write anything you wish to store securely in an anti-fragile digital environment.  Access your most important information from any federated node without any form of brute-force security exposure.</p>
          </blockquote>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>

<!--div id="roi" class="home--roi">
  <div class="inner">
  <h1>Bitcoin Exchange Calculator</h1>
  <div class="content">
    <div class="field">
      <label for="">
        How many bitcoins?
      </label>
      <div>
        <input
          ng-model="roiForm.loanAmount"
          placeholder="USD"
        />
      </div>
    </div>
    <div class="field">
      <label for="">
        Interest?
      </label>
      <div>
        <input
          ng-model="roiForm.loanRate"
        /> <span class="fixture percentage">%</span>
      </div>
    </div>
    <div class="field">
      <label for="">
        What is the ideal term for your loan?
      </label>
      <div>
        <input
          ng-model="roiForm.loanTerms"
        /> <span class="fixture date">months</span>
      </div>
    </div>
    <div class="field action">
      <button ng-click="scrollTo('roi--profile'); updateLoanProfile()">
        Continue
      </button>
    </div>
  </div>
  </div>
</div-->

<!--div id="roi--profile" class="home--roi">
  <div class="inner">
  <h1>Tell us about yourself</h1>
  <div class="content">
    <div class="field">
      <label for="">
        Name
      </label>
      <div>
        <input ng-model="roiForm.lenderName" />
      </div>
    </div>
    <div class="field">
      <label for="">
        E-mail Address
      </label>
      <div>
        <input ng-model="roiForm.lenderEmail" />
      </div>
    </div>
    <div class="field">
      <label for="">
        Phone Number
      </label>
      <div>
        <input ng-model="roiForm.lenderPhone" />
      </div>
    </div>
    <div class="field action">
      <button ng-click="scrollTo('roi--finish')">
        Submit
      </button>
    </div>
  </div>
  </div>
</div-->

<!--div id="roi--finish" class="home--roi">
  <div class="inner">
    <div class="input-section">
      <div class="primary">
        <h1>ROI Calculator</h1>
        <div class="field">
          <label for="">
            Loan Amount
          </label>
          <div>
            <input ng-model="roiForm.loanAmount" placeholder="USD" />
          </div>
        </div>
        <div class="field">
          <label for="">
            Interest Rate
          </label>
          <div>
            <input ng-model="roiForm.loanRate" /> <span class="fixture percentage">%</span>
          </div>
        </div>
        <div class="field">
          <label for="">
            Loan Terms
          </label>
          <div>
            <input ng-model="roiForm.loanTerms" /> <span class="fixture date">months</span>
          </div>
        </div>
        <div class="field subaction">
          <button ng-click="">
            Update
          </button>
        </div>
      </div>
      <div class="secondary">
        <h2>Total Return</h2>
        <div loan-total-return loan-data="loanData">
          <div id="wrapper"></div>
        </div>
        <div ng-show="!loanData">
          <p>Give us your principal, rate, and terms, and we'll do the rest!</p>
        </div>
      </div>
    </div>

    <h3><span class="fa fa-shield"></span> Become a Private Bitcoin Lender Today</h3>

    <p>Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <br />

    <div class="field field--lender__type">
      <md-input-container>
        <label>Which best describes you?</label>
        <md-select ng-model="roiForm.lenderType">
          <md-option ng-repeat="lenderType in lenderTypes" value="{{lenderType.abbrev}}">
            {{lenderType.title}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div class="field nationwide field--lender__nationwide">
      <label for="roi--nationwide--yes">
        Are you available to lend to investors nationwide?
      </label>
      <div class="inline">
        <md-radio-group ng-model="roiForm.nationwide">
          <md-radio-button id="roi--nationwide--yes" value="Yes" class="md-primary">Yes</md-radio-button>
          <md-radio-button id="roi--nationwide--no" value="No">No</md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div class="field action">
      <button ng-click="submitApplication(roiForm)">
        Submit Application
      </button>
    </div>
  </div>
</div-->

<leaflet 
  id="index" 
  lf-center="center" 
  width="100%" 
  height="680px"
  defaults="defaults"
></leaflet>

<form class="simple-search">
  <div class="field">
    <label for="query"></label>
    <input ng-model="query" id="query" placeholder="Filter nearby locations..." />
  </div>
  <div class="field action">
    <md-input-container>
      <label>View By</label>
      <md-select ng-model="queryBy">
        <md-option value="price">
          Price
        </md-option>
        <md-option value="streetAddress">
          Street
        </md-option>
      </md-select>
    </md-input-container>
    <button>
      <span class="fa fa-search"></span>
    </button>
  </div>
</form>

<!--div class="home--search--properties">
  <h1 class="~font-effect-fire" title="Track areas that correlate with your earnings and investor performance!">Hot Deals</h1>
  <ul class="view--list--properties">
    <li ng-repeat="property in properties | filter:queryFilter">
      <figure>
        <img unveil src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />
        <figcaption>
          <dl>
            <dt title="In days">Age</dt>
            <dd>10</dd>
            <dt>Address</dt>
            <dd>{{property.streetAddress}}</dd>
            <dt>Price</dt>
            <dd>{{property.price}}</dd>
          </dl>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</div-->


<div class="home--repair--ideas font-effect-3d-float">
  <h1 class="~font-effect-3d-float">Grow Ideas</h1>
  <p>Learn more about Mary Jane.</p>
  <ul class="view--list--books">
    <li ng-repeat="book in bookIdeas" ng-if="$index < 6">
      <figure id="{{book.ASIN[0]}}">
        <h2><a href="{{book.DetailPageURL[0]}}" rel="external" target="_blank">{{book.ItemAttributes[0].Title[0]}}</a></h2>
        <figcaption>
          <span class="author">
            {{book.ItemAttributes[0].Author[0] || "No author listed."}}
          </span>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>


<div class="home--questions">
  <h1 class="font-effect-3d-float">Have more questions?</h1>
  <p>
    <a href="mailto:hello@blockauction.com">
      Contact Us
    </a>
  </p>
</div>
