
<div class="cta--columnar--default home--select font-effect-3d-float">
  <div class="primary">
    <h1>Grow In <br /> Your Industry</h1>
    <h2>Stop worrying about managing your cash. Let the 420 pay center manage the unmanageable.</h2>
  </div>
  <div class="secondary">
    <p><img class="" style="width: 75%" src="/images/Planet-Kiosk--Kiosk.png" /></p>
  </div>
</div>

<div class="home--faq font-effect-3d-float">
  <h1 id="faq">The Hardware and Software</h1>
  <!--<p></p>-->
  <ul>
    <li>
      <figure>
        <div class="question--container">
          Industry Standard Hardware
        </div>
        <figcaption>
          <ul>
            <li>Manufactured to the ATMIA Standards for ATM Physical Security</li>
            <li>Large-Format touch screen for ease-of-use</li>
            <li>2-way Bill Acceptor</li>
          </ul>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div class="question--container">
          What are bidmarks?
        </div>
        <figcaption>
          <ul>
            <li>Regulatory Compliant Hardware/Software</li>
            <li>Printable Payment vouchers</li>
            <li>Industry standard card reader</li>
          </ul>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>


<div class="cta--columnar--triple home--benefits font-effect-3d-float">
  <header>
    <h1>How it works</h1>
    <!--<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />-->
  </header>
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Step 1</h2>
      <p>
        420 Pay center Kiosk provides a seamless platform for collecting and securing cash payments without the need for a bank as an intermediary.
      </p>
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Step 2</h2>
      <p>
        Cash in the machine is considered “secure” and issues a dollar-for-dollar digital token, that can be used like cash in a checking account
      </p>
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Step 3</h2> 
      <p>
        Digital tokens can be redeemed through a number of already-existing payment channels
      </p>
    </li>
  </ul>
</div>



<div class="home--questions font-effect-3d-float">
  <h1>Have more questions?</h1>
  <p>
    <a href="mailto:hello@blockauction.com">
      Contact Us
    </a>
  </p>
</div>

<div class="cta--columnar--triple home--benefits font-effect-3d-float">
  <header>
    <h1>Secure your business investment</h1>
    <!--<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" />-->
  </header>
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Reduce Business Risk</h2>
      <p>
        420 Pay Center transactions are guaranteed with an insurance-backed guarantee of proper remittance.
      </p>
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Streamline Cash Flow</h2>
      <p>
        Digital tokens are stored in a multi-factor-authorization secure vault, and  cryptographically secured fault-tolerant transaction ledger system guarantees transaction traceability and auditability for every transaction that occurs.
      </p>
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Go Digital</h2> 
      <p>
        420 Tokens are guaranteed at a 1:1 ratio with the USD, eliminating any risk of currency fluctuation.
      </p>
    </li>
  </ul>
</div>




