
<div class="home--masthead font-effect-3d-float">
  <div class="inner">
    <h1 title="The Grass is Greener">The Grass is Greener</h1>
    <h2>By creating a simpler way of managing your cash, 420 Pay Center makes you more nimble.</h2>
  </div>
</div>


<div class="cta--columnar--quad home--how font-effect-3d-float">
  <header>
    <h1 id="how">How it works</h1>
  </header>
  <ul>
    <li>
      <div class="explanation--symbol-1"><span class="fa fa-star"></span></div>
      <h2>Control your Sale</h2>
      <p>Paired with your 420 Pay-center Kiosk, You will have total control of proceeds from the sale of merchandise/product.</p>
    </li>
    <li>
      <div class="explanation--symbol-2"><span class="fa fa-star"></span></div>
      <h2>Instant Transfers</h2>
      <p>Send Tokens directly to employees that they can use throughout the entire Visa Payment Network.</p>
    </li>
    <li>
      <div class="explanation--symbol-3"><span class="fa fa-star"></span></div>
      <h2>Stay light, stay nimble</h2>
      <p>420 Pay center’s “cash to digicash” system gives you more flexibility when paying your hard working employees. No more envelopes of cash.</p>
    </li>
    <li>
      <div class="explanation--symbol-4"><span class="fa fa-star"></span></div>
      <h2>Fast reports, quick insights</h2>
      <p>Automatically generate proceed reports that can be linked to important tax-related documentation.</p>
    </li>
  </ul>
</div>

<div class="home--questions font-effect-3d-float">
  <h1 class="">Have more questions?</h1>
  <p>
    <a href="mailto:hello@blockauction.com">
      Contact Us
    </a>
  </p>
</div>


<div class="cta--columnar--triple home--benefits font-effect-3d-float">
  <header>
    <h1>Key Features</h1>
  </header>
  <ul>
    <li>
      <div class="benefit--symbol-1"><span class="fa fa-star"></span></div>
      <p>
        Simple dashboard for managing your Cash/Token balance and seeing trends in your cash-flow cycle.
      </p>
    </li>
    <li>
      <div class="benefit--symbol-2"><span class="fa fa-star"></span></div>
      <p>
        Determine distributions to employees – no need for direct deposit information.  Push payroll disbursements directly to an employee-assigned card.  Sensitive Employee information is stored in bank-grade security and encryption system – only accessible to authorized agents.
      </p>
    </li>
    <li>
      <div class="benefit--symbol-3"><span class="fa fa-star"></span></div>
      <p>
        Fully auditable and traceable transaction record to give you the peace of mind that you are operating within the letter of the law.
      </p>
    </li>
  </ul>
</div>

